<!--<app-admit-form></app-admit-form>-->
<!--<app-student-certificate></app-student-certificate>-->
<!--<app-generate-certificate></app-generate-certificate>-->
<!--<app-student-id></app-student-id>-->
<!-- <app-student-information></app-student-information> -->
<!-- <app-student-report></app-student-report>  -->
<!-- <app-guardian-report></app-guardian-report> -->
<!-- <app-student-history></app-student-history> -->
<!-- <app-student-login></app-student-login> -->
<!-- <app-class-subject-report></app-class-subject-report> -->
<!-- <app-admission-report></app-admission-report> -->
<!-- <app-sibling-report></app-sibling-report> -->
<!-- <app-student-profile></app-student-profile> -->
<app-homework-evaluation-report></app-homework-evaluation-report>
<router-outlet></router-outlet>